/* Custom Navigation Buttons */
.custom-prev,
.custom-next {
  position: absolute;
  top: 90%;

  transform: translateY(-50%);
  z-index: 10;
  font-size: 32px; /* Adjust size of the icons */
  color: #fff; /* Default icon color */
  cursor: pointer;
  transition: color 0.3s ease;
}



.swiper-slide img {
     display: block;
     width: 100%;
     height: 100vh;
     object-fit: cover;
   }

